.row.palylist {
    background-color: #000411;
    padding: 20px;
    width: 50%;
    border-radius: 6px;
    margin: auto;
}
audio {
    width: 100%;
}
.playerbutton.btn.btn-outline-info.list {
    margin: 10px;
}
img.musiclist {
    width: 60px;
    border: 1px solid black;
}
.audio-controller {
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;

    border-radius: 6px;
    padding: none;
    padding: 5px;
    box-shadow: 5px 0px 0xp 0.3px gray;
}
img.card-img-top-home {
    width: 60px;
}
