nav {
    background-color: #000411;
    position: fixed;
    border-radius: none;

    padding: 0px !important;
    border-radius: none !important;
    z-index: 10 !important;
}
a.navbar-brand {
    color: #33cc33 !important;

    font-weight: 400;
    font-size: 30px;
    padding: 0;
    font-family: "Big Shoulders Stencil Text", cursive;
}
nav .navbar-nav li a {
    color: #e1efe6 !important;
    font-weight: 600;
}
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

a.nav-link.capital {
    text-transform: uppercase;
    color: #33cc33 !important;
}
